body {
    background-color: #e8fbff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

/* login section entry boxes and buttons and header */
h1 {
    font-size: 25px;
    margin: 1em;
    color: black;
    align-content: center;
    font-size: 2vh;
    font-size: 2vw;
    text-align: center;
    flex:0;
    flex-direction: column;
}

.input {
    height: 2vh;
    width: 10vw;
    margin: 1em;
    flex:1;
}

.login {
    background-color: aqua;
    width: 8vw;
    height: 4vh;
    margin: 0.5em;
    text-align: center;
    flex:1;
    flex-direction: column;
    align-self: center;
}

.login:hover {
    background-color: #00dbdb;
}

.register {
    background-color: aquamarine;
    width: 6vw;
    height: 4vh;
    margin: 0.5em;
    text-align: center;
    flex:1;
    flex-direction: column;
    align-self: center;
}

.register:hover {
    background-color: rgb(107, 212, 177);
}

/* text around entry boxes */
p1 {
    display:flex;
    flex-direction: column;
}

p2 {
    display:flex;
    flex-direction: column;
}

.usertext {
    font-size: 0.8vh;
    font-size: 0.8vw;
    margin: 0em;
    margin-bottom: -0.65em;
}
.passtext {
    font-size: 0.8vh;
    font-size: 0.8vw;
    margin: 0em;
    margin-bottom: -0.65em;
}

/* box around login screen */
main {
    background-color: #9ef0ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    margin-top: 3em;
    width:20vw;
    height: 38vh;
    align-self: center;
    align-content: center;
    border-color: aqua;
    border-width: 10px;
    border-radius: 13px;
    border-style: solid;
    font-size: 2vh;
    font-size: 2vw;
}

/* nav bar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white; /* Keeps it visible */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Adds a modern floating effect */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensures it's above other elements */
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-icon {
    font-size: 22px;
    cursor: pointer;
}

.logo a {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav-links {
    display: flex;
    gap: 60px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.sign-in {
    margin-right: 3em;
}